<div class="row">
  <div class="col-4 p-0">
    About us text
  </div>
  <div class="col-4 p-0">
    <div class="about-slider">
      <div style="background-image: url('https://dummyimage.com/2000x2000/000/fff.jpg')"></div>
      <div style="background-image: url('https://dummyimage.com/2000x2000/000/fff.jpg')"></div>
      <div style="background-image: url('https://dummyimage.com/2000x2000/000/fff.jpg')"></div>
    </div>
  </div>
  <div class="col-4 p-0">
    Reviews
  </div>
</div>
