<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 direc-cont">
      <div class="content">
        <h1 class="text-center"> Red Baron Diner Inc </h1>
        <hr>
        <h3> 220 Airport Access Rd, Southbridge, MA 01550 </h3>
        <hr>
        <p> Located near the airport in Southbridge MA, this hidden gem will be sure to impress those who visit </p>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <div class="row">
          <iframe width="960" height="800" frameborder="0" src="https://www.bing.com/maps/embed?h=800&w=800&cp=42.42039910934823~-71.46087689193126&lvl=10&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
          </iframe>
        </div>
        <div style="white-space: nowrap; text-align: center; width: 800px; padding: 6px 0;">
          <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=42.42039910934823~-71.46087689193126&amp;sty=r&amp;lvl=10&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
          <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=42.42039910934823~-71.46087689193126&amp;sty=r&amp;lvl=10&amp;rtp=~pos.42.42039910934823_-71.46087689193126____&amp;FORM=MBEDLD">Get Directions</a>
        </div>
      </div>
    </div>
  </div>
</div>
