<div class="container-fluid slickyboi p-0">
  <div class="single-item">
     <div style="background-image: url('https://dummyimage.com/2000x2000/000/fff.jpg')"></div>
     <div style="background-image: url('https://dummyimage.com/2000x2000/000/fff.jpg')"></div>
  </div>
</div>
