<div class="container-fluid slickyboi p-0">
  <div class="single-item">
     <div id="helloWorld" style="background-image: url('<%= asset_path "diner" %>')"></div>
     <div style="background-image: url('<%= asset_path "diner2" %>')"></div>
  </div>
</div>
