body, html {
  height: 100%;
}

.linkreset {
  color: white;
}

.slickyboi {
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 0;
  padding-right: 0;
}

.slickyboi, .single-item {
  height: 100%;
  width: 100%;
}

.single-item {
  margin-bottom: 0;
}

div.single-item div {
  /* background-image: url("https://dummyimage.com/2000x2000/000/fff.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646; */
  height: auto;
}
